@import '../../../shared/styles/themes/_variables.scss';

.dialog-container {
  position: relative;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.close-button-dialog {
  position: absolute;
  top: $spacing-sm;
  right: $spacing-sm;
  z-index: 10;
  color: var(--text-color);
  background: none !important;
  transition: transform 0.1s linear;

  &:hover {
    transform: scale(1.2);
  }

  ::ng-deep {
    .mdc-icon-button {
      padding: 0;
      width: auto;
      height: auto;
      --mdc-icon-button-state-layer-size: 0;
    }

    .mdc-icon-button__ripple,
    .mat-mdc-focus-indicator,
    .mat-ripple {
      display: none !important;
    }
  }
}

.dialog-content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;

  mat-card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      font-size: 30px;
      padding-bottom: 25px;
    }
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.tenant-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-grow: 1;
  gap: 20px;
  margin-bottom: 15px;
  flex-wrap: wrap;

  mat-form-field {
    flex: 1;
    min-width: 200px;
  }
}

.documents-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

  h3{
    font-size: 20px;
  }
}

.comunications-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18px;

  h3{
    font-size: 20px;
    padding-bottom: 10px;
  }
}

.form-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 32px;

  button{
    width: 150px;
    font-size: 16px;

    &:hover{
      transform: scale(1.10);
      transition: transform 0.06s linear;
      opacity: 0.8;
    }
  }
}

.full-width{
  width: 100%;
}

.document-upload-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.document-upload-card {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;

  &:not(.has-image):hover {
    transform: scale(1.05);
    transition: transform 0.06s linear;
    cursor: pointer;
  }
  
  &.has-image {
    cursor: default;
    
    &:hover {
      transform: none;
    }
  }
}

.upload-button{
  ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none !important;
  }
}

.upload-preview {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-preview img {
  max-width: 100%;
  max-height: 150px;
  object-fit: contain;
}

.upload-preview button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
}