<div class="confirmation-dialog" [@dialogAnimation]="state">
  <div class="dialog-header" [ngClass]="{'danger': data.dangerMode}">
    <div class="icon-container">
      <mat-icon *ngIf="data.dangerMode" class="warning-icon">warning</mat-icon>
      <mat-icon *ngIf="!data.dangerMode" class="info-icon">info</mat-icon>
    </div>
    <h2 class="dialog-title">{{data.title}}</h2>
  </div>
  
  <mat-divider></mat-divider>
  
  <div class="dialog-content">
    <p class="message" [innerHTML]="data.message"></p>
    <p class="submessage" *ngIf="data.submessage" [innerHTML]="data.submessage"></p>
    
    <div class="highlight-box" *ngIf="data.highlightItem">
      <span class="item-name">{{data.highlightItem}}</span>
    </div>
  </div>
  
  <div class="dialog-actions">
    <button 
      mat-button 
      class="cancel-button" 
      (click)="onCancel()" 
      [disabled]="isProcessing"
      [@buttonAnimation]="'in'">
      <mat-icon *ngIf="data.cancelIcon">{{data.cancelIcon}}</mat-icon>
      {{data.cancelText}}
    </button>
    
    <button 
      mat-raised-button 
      class="confirm-button" 
      [ngClass]="{'danger-button': data.dangerMode}"
      (click)="onConfirm()" 
      [disabled]="isProcessing"
      [@buttonAnimation]="'in'">
      <mat-spinner *ngIf="isProcessing" diameter="20" class="button-spinner"></mat-spinner>
      <mat-icon *ngIf="!isProcessing && data.confirmIcon">{{data.confirmIcon}}</mat-icon>
      {{data.confirmText}}
    </button>
  </div>
</div>