<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav 
               [mode]="sidenavMode" 
               [(opened)]="sidenavOpened" 
               [ngClass]="{'expanded': sidenavExpanded}"
               class="app-sidenav"
               (mouseenter)="openSidenav()" 
               (mouseleave)="closeSidenav()"
               [disableClose]="true">
    <app-sidenav [compactMode]="!sidenavExpanded"></app-sidenav>
  </mat-sidenav>
  
  <mat-sidenav-content class="app-content">
    <app-header (toggleSidenav)="toggleSidenav()"></app-header>
    
    <main class="main-content">
      <router-outlet></router-outlet>
</main>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>