<div class="app-wrapper" [class.auth-only]="isAuthPage">
  <ng-container *ngIf="showNavigation()">
    <app-header class="w-100"></app-header>
    
    <div class="content-wrapper">
      <nav class="fixed-sidenav">
        <app-sidenav></app-sidenav>
      </nav>
      
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </ng-container>

  <ng-container *ngIf="!showNavigation()">
    <div class="auth-content">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
</div>