.app-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 64px); /* Altezza totale meno l'header */
  position: relative;
  margin-top: 64px; /* Spazio per l'header */
}

.fixed-sidenav {
  @if (max-width: 1600px) {
    width: 190px;
  } @else {
    width: 240px;
  }
  position: fixed;
  left: 0;
  top: 64px;
  bottom: 0;
  z-index: 100;
}

.main-content {
  flex: 1;
  @if (max-width: 1600px) {
    margin-left: 190px;
  } @else {
    margin-left: 240px;
  }
  width: calc(100% - 240px);
  overflow-y: auto;
  min-height: calc(100vh - 64px);
}

.auth-content {
  width: 100%;
  height: 100vh;
}

.auth-only {
  overflow: hidden;
  height: 100vh;
}
