.container {
  padding: 20px 0 40px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
  align-items: center;
  
  mat-form-field {
    flex: 1;
    min-width: 200px;
    max-width: 250px;
  }

  button{
    margin-bottom: 20px !important;
  }
}

.lease-card {
  margin-bottom: 20px;
}

.page-title {
  margin-bottom: 20px;
}

.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  h1 {
    margin: 0;
    margin-right: 60px;
    font-size: 24px;
    font-weight: 500;
  }
}

.actions-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.error-message {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  color: #f44336;
  
  mat-icon {
    margin-right: 8px;
  }
}

.table-container {
  position: relative;
  max-width: 90%;
  min-height: 200px;
  overflow: auto;
  margin: auto;
  
  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .apartment-table {
    width: 100%;
  }

}

table {
  width: 100%;
  
  .mat-column-actions {
    width: 260px;
    text-align: center;
  }
}

.status-active {
  color: #4caf50;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(76, 175, 80, 0.1);
}

.status-inactive {
  color: #f44336;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(244, 67, 54, 0.1);
}

mat-paginator {
  margin-top: 0;
}