/* Importa i CSS precompilati di Angular Material */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* Stili globali */
html, body { 
  height: 100%; 
  margin: 0;
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f5f5f5;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer-container {
  height: 100%;
}

.main-content {
  padding: 20px;
  flex: 1;
}